*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h1{
  margin-bottom:1em;
  color:white
  
}

#content,
#formu {

  flex: 1;
  display: flex;
}
#content .conteudo {

  max-width: 600px;
  width: 100%;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffffbb;
  font-size: 1rem;
  border-radius: 8px 0 0 8px; /* cantos arredondados só no lado esquerdo */
}

.conteudo h1{  
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  border-bottom: 1px solid #fff;
  color:white;
}
